
# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE files
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project

# Logs
*.log
logs/

# OS-specific
.DS_Store
Thumbs.db
